<nav>
    <div class="branding">
        <img src="../../assets/logo.png" alt="Logo de Cuentas Claras" class="logo">
        <span>Cuentas Claras</span>
    </div>

    <ul class="nav-links">
        <li><a routerLink="/grupos">Grupos</a></li>
        <li><a routerLink="/amigos">Amigos</a></li>
    </ul>

    <div class="user-info">
        <div class="notification-icon" (click)="toggleDropdown()">
            <img src="../../../assets/icons/notifications-active_118870.png" alt="Icono de notificaciones">
            <div *ngIf="isDropdownOpen" class="dropdown-content" [ngClass]="{'oculto': !isDropdownOpen,}">
                <app-notification></app-notification>
            </div>
        </div>
        <span>UserName</span>

        <span class="user-balance">
            Saldo: {{ formatBalance() }}
        </span>

        <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
    </div>
</nav>