<app-nav></app-nav>

<div class="detalle-gasto-container">

    <div class="detalle-gasto" *ngIf="gasto; else noGasto">

        <div class="detalle-header">
            <h2>Detalle del Gasto</h2>
        </div>

        <div class="detalle-section">

            <div class="detalle-item title-date" *ngIf="gasto.nombre">
                <div class="detalle-item-content">
                    <h3 class="detalle-title">Nombre del Gasto</h3>
                    <p class="detalle-content">{{ gasto.nombre }}</p>
                </div>
                <div *ngIf="gasto.fecha" class="detalle-item-date">
                    <p class="detalle-content date-content">{{ gasto.fecha | date:'dd/MM/yyyy HH:mm' }}</p>
                </div>
            </div>

            <div *ngIf="gasto.categoria || gasto.imagen" class="row">
                <div *ngIf="gasto.categoria" class="col-md-6">
                    <h3 class="detalle-title">Categoría</h3>
                    <div class="grupo-category">
                        <div class="category-icon">
                            <img *ngIf="gasto.categoria.icon" src="../../../assets/icons/icono_familia.png"
                                alt="icono de la categoria {{ gasto.categoria.nombre }}">
                        </div>
                        <p>{{ gasto.categoria.nombre }}</p>
                    </div>
                </div>

                <div *ngIf="gasto.imagen" class="col-md-6">
                    <h3 class="detalle-title">Comprobante del Gasto</h3>
                    <!-- <img [src]="gasto.imagen" alt="Imagen o comprobante del gasto"> -->
                    <img class="img-icon-comprobante" src="../../../assets/icons/icono_imagen.png"
                        alt="boton para abrir y mostrar el combrobante" data-bs-toggle="modal"
                        data-bs-target="#modalImagenComprobante">ver comprobante
                    <!-- <i data-bs-toggle="modal" data-bs-target="#modalImagenComprobante" class="fas fa-image"></i> -->
                </div>
            </div>

            <div *ngIf="gasto.gastoAutor?.length" class="detalle-item">
                <h3 class="detalle-title">Contribuyentes del Gasto</h3>
                <ul class="members-grid">
                    <li *ngFor="let autor of gasto.gastoAutor">
                        <span class="userName">{{ autor.userName }}</span>
                        <span>{{ "$" + autor.monto.toFixed(2) }}</span>
                    </li>
                </ul>
            </div>

            <div *ngIf="gasto.formaDividir" class="detalle-item">
                <h3 class="detalle-title">{{ getstringdistribution(gasto.formaDividir.formaDividir) }}</h3>
                <ul class="members-grid">
                    <li *ngFor="let division of gasto.formaDividir.divisionIndividual">
                        <span class="userName">{{ division.userName }}</span>
                        <span>
                            {{ gasto.formaDividir.formaDividir == 'MONTO' ? '$'+ division.monto.toFixed(2) :
                            division.monto.toFixed(2)+'%' }}
                        </span>
                    </li>
                </ul>
            </div>

            <div class="buttons-section">
                <button *ngIf="gasto.editable" (click)="editarGasto(gasto.id)" class="btn-primary">Editar Gasto</button>
            </div>

        </div>

    </div>

    <ng-template #noGasto>
        <p class="message">El gasto no existe o no se encontró información.</p>
    </ng-template>

</div>

<div *ngIf="gasto" class="modal fade" id="modalImagenComprobante" tabindex="-1"
    aria-labelledby="modalImagenComprobanteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalImagenComprobanteLabel">
                    Comprobante del Gasto
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img *ngIf="gasto.imagen != 'imagen'" [src]="gasto.imagen" alt="Imagen o comprobante del gasto"
                    class="img-fluid" (click)="hacerZoom($event)">
                <img *ngIf="gasto.imagen == 'imagen'" src="https://www.afip.gob.ar/visitaComercios/images/FacturaV4.jpg"
                    alt="Imagen o comprobante del gasto" class="img-fluid" (click)="hacerZoom($event)">
            </div>
        </div>
    </div>
</div>