body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.detalle-gasto-container {
    margin: 20px auto;
    max-width: 900px;
    background: linear-gradient(180deg, #DFA2FC 0%, rgba(206, 195, 254, 0.8) 40%, rgba(164, 249, 254, 0.05) 100%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detalle-header {
    /* background-color: #A841CB; */
    background: linear-gradient(to bottom, #a841cb, #d77ff3);
    color: #ffffff;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.detalle-section {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 1px 1px 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detalle-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
}

.detalle-item.title-date {
    display: flex;
    justify-content: space-between;
}

.detalle-item-content {
    flex: 1;
}

.detalle-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #6c5ce7;
}

.detalle-content {
    font-size: 1em;
    color: #333;
}

.buttons-section {
    align-items: center;
}

.btn-primary {
    background-color: #A841CB;
    border: 1px solid #8B2BAE;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #8B2BAE;
    border-color: #6A1E89;
}

.message {
    text-align: center;
    font-weight: bold;
    color: #888;
    margin-top: 30px;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.members-grid {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.members-grid li {
    flex: 0 1 calc(50% - 20px);
    padding: 15px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    max-width: 300px;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
}

.members-grid li .userName {
    font-weight: 500;
}


.grupo-category {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background: linear-gradient(45deg, #8B2BAE, #6A1E89);
    border-radius: 15px;
    padding: 8px 13px 8px 8px;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: fit-content;
}

.category-icon {
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-right: 12px;
    align-self: center;
}

.category-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
}

.grupo-category p {
    margin: 0;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.detalle-item-date {
    display: flex;
    justify-content: flex-end;
}

.date-content {
    margin-left: auto;
}

.img-icon-comprobante {
    width: 45px;
}

.img-fluid {
    cursor: zoom-in;
    transition: transform 0.3s ease-in-out;
}

.img-fluid:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: 50px auto;
    position: relative;
}

.modal-header {
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}

.modal-footer {
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #eaeaea;
}